h1 {
  font-size: 4em;
  font-weight: bold;
  font-family: 'Almarai', sans-serif;
}
p {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Almarai', sans-serif;

  &.subtitle {
    font-size: 0.87em;
  }
  &.title {
    font-size: 1.12em;
  }
  &.small-description {
    font-size: 0.75em;
  }
  &.copyright {
    font-size: 0.625em;
  }
}

a {
  text-decoration: none;
  font-size: 1rem;
}